*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.auto_width{
    margin: 0 auto;
    max-width: 1660px;
}
/* ///////////////// */
.header_first_block{
    display: flex;
}
.header_first_block a{
    max-width: 400px;
}
.header_first_block img{
    width: 100%;
    object-fit: contain;
}
.window{
    background: rgba(0, 0, 0, 0.74);
}
.header_brightness{
    height: 729px;
    background: url(img/Rectangle\ 20.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}
/* ////////////////// */
.window_first_block{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 729px;
}
.window_first_block h1{
    margin-bottom: 25px;
    font-size: 76px;
    line-height: 92px;
    text-align: center;
    color: #FFFFFF;
}
.window_first_block p{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 102px;
}
.window_first_block a{
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 84px;
    padding-bottom: 10px;
    border: 1px #FFFFFF solid;
    border-radius: 10px;
    transition: color .2s  ease-in-out, background .2s ease-in-out;
}
.window_first_block a:hover{
    background: #FFFFFF;
    color: #000;
}
/* //////////////////// */
.promise_main_block{
    margin-top: 91px;
    margin-bottom: 142px;
}
.promise_first_block h2{
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 92px;
}
.promise_second_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.pormise_flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
    background: #DCF0FA;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}
.pormise_flex img{
    margin-bottom: 21px;
}
.pormise_flex h2{
    margin-bottom: 12px;
}
.pormise_flex p{
    width: 252px;
    font-size: 18px;
    line-height: 22px;
    color: #737272;
}
/* //////////////////// */
.todo{
    background: #DCF0FA;
}
.todo_main_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.todo_first_block{
    width: 60%;
    min-width: 300px;
}
.todo_first_block h2{
    margin-top: 60px;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.todo_first_block p{
    margin-top: 46px;
    margin-bottom: 91px;
    font-size: 24px;
    padding-right: 58px;
    line-height: 29px;
    color: #000000;
}
.todo_second_block{
    width: 40%;
    text-align: right;
    min-width: 300px;
}
.todo_second_block img{
    height: 100%;
    width: 100%;
}
.portfolio_main_block{
    margin-top: 91px;
    margin-bottom: 126px;
}
.portfolio_first_block h2{
    margin-bottom: 60px;
    font-size: 32px;
}
.portfolio_second_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio_card_block {
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
    text-align: center;
    margin-right: 30px;
}
.portfolio_card_block img{
    margin-bottom: 14px;
}
.portfolio_card_block a{
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-decoration: none;
}
/* ////////// */
.labs{
    background: #DCF0FA;
}
.labs_main_block{
    display: flex;
    flex-direction: column;
}
.labs_first_block{
    max-width: 562px;
    display: flex;
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 132px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.labs_second_block{
    display: flex;
    flex-direction: column;
    margin-bottom: 117px;
}
.labs_second_block p{
    max-width: 1500px;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 58px;
}
.labs_second_block a{
    margin: 0 auto;
    margin-top: 59px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    text-align: center;
    padding: 9px 42px;
    border-radius: 10px;
    border: 2px solid #000;
    text-decoration: none;
    transition: 
    color .2s ease-in-out,
    background .2s ease-in-out,
    transform .2s ease-in-out;
    
}
.labs_second_block a:hover{
    color: #fff;
    background: #000;
    transform: scale(1.05);
}
/* ////////////////////// */
.map{
    background: #EBEBEB;
}
.map_main_block{
    display: flex;
    flex-wrap: wrap;
}
.map_first_block{
    width: 50%;
    min-width: 300px;
}
.map_first_block{
    margin-top: 54px;
    margin-bottom: 69px;
}
.map_first_block h2{
    margin-bottom: 32px;
    text-align: left;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.map_first_block p{
    text-align: left;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.strong{
    margin-top: 28px;
}
.map_second_block{
    width: 50%;
    min-width: 300px;
}
.map_second_block img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* ///////////////////// */
.footer{
    background: #000;
    text-align: left;
    padding: 43px 0;

}
.footer a{
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
/* /////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 450px) and (max-width: 1450px){
    .window_first_block{
        justify-content: center;
    }
    .window_first_block{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        height: 729px;
    }
    .window_first_block h1{
        font-size: 36px;
        text-align: center;
        color: #FFFFFF;
        line-height: 40px;
    }
    
    .window_first_block p{
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 102px;
    }
    .window_first_block a{
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 8px 84px;
        padding-top: 10px;
        border: 1px #FFFFFF solid;
        border-radius: 10px;
    }
    /* //////////////////////////// */
    .promise_second_block{
        justify-content: center;
    }
    .promise_first_block h2{
        font-size: 32px;
        line-height: 39px;
        color: #000000;
        margin-bottom: 92px;
        text-align: center;
    }
    .pormise_flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #DCF0FA;
        width: 300px;
        height: 300px;
        margin-right: 20px;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    /* /////////////////////// */
    .todo_main_block{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .todo_first_block{
        width: 100%;
        text-align: center;
    }
    .todo_first_block h2{
        margin-top: 30px;
        font-size: 32px;
    }
    .todo_first_block p{
        margin: 0 auto;
        margin-top: 26px;
        padding-right: 0;
        margin-bottom: 41px;
        font-size: 14px;
        text-align: center;
    }
    .todo_second_block{
        width: 100%;
        min-width: none;
    }
    .todo_second_block img{
        height: 100%;
        width: 100%;
    }
    /* ////////////////////// */
    .portfolio_main_block{
        margin-top: 41px;
        margin-bottom: 56px;
    }
    .portfolio_first_block h2{
        margin-bottom: 30px;
        font-size: 32px;
        text-align: center;
    }
    .portfolio_second_block{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .portfolio_card_block {
        margin-bottom: 70px;
        text-align: center;
        margin-right: 20px;
    }
    .portfolio_card_block img{
        margin-bottom: 14px;
    }
    /* ////////////////////////// */
    .labs{
        background: #DCF0FA;
    }
    .labs_main_block{
        display: flex;
        flex-direction: column;
    }
    .labs_first_block{
        max-width: 562px;
        margin: 0 auto;
        margin-top: 47px;
        margin-bottom: 32px;
        flex-direction: row;
        justify-content: center;
    }
    .labs_img{
        margin-bottom: 20px;
    }
    .labs_img img{
        width: 100%;
    }
    .labs_second_block{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 67px;
    }
    .labs_second_block p{
        max-width: 1500px;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
        margin-bottom: 58px;
        text-align: center;
    }
    .labs_second_block a{
        margin: 0 auto;
        margin-top: 19px;
        font-weight: 700;
        font-size: 22px;
        line-height: 39px;
        color: #000000;
        text-align: center;
        padding: 9px 42px;
        border-radius: 10px;
        border: 2px solid #000;
        text-decoration: none;
    }
    /* //////////////////////// */
    .map_main_block{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .map_first_block{
        width: 100%;
    }
    .map_first_block{
        margin-top: 24px;
        margin-bottom: 39px;
    }
    .map_first_block h2{
        margin-bottom: 32px;
        text-align: center;
        font-size: 36px;
        line-height: 44px;
        color: #000000;
    }
    .map_first_block p{
        text-align: center;
        font-size: 22px;
    }
    .map_second_block{
        width: 100%;

        min-width: 300px;
    }
    .map_second_block img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /* ///////////// */
    .footer{
        background: #000;
        text-align: left;
    }
    .footer p{
        padding: 43px 0;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        text-align: center;
    }
    /* //////////////////// */
    .auto_width{
        margin: 0 auto;
        width: 95%;
    }
    /* ////////////// */
}

@media screen and (max-width: 450px){
.header{
    display: none;
}
/* /////////////////////////// */
.window_first_block{
    justify-content: center;
}
.window_first_block{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 729px;
}
.window_first_block h1{
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    line-height: 40px;
}

.window_first_block p{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 102px;
}
.window_first_block a{
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 84px;
    padding-top: 10px;
    border: 1px #FFFFFF solid;
    border-radius: 10px;
}
/* //////////////////////////// */
.promise_second_block{
    justify-content: center;
}
.promise_first_block h2{
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 92px;
    text-align: center;
}
/* /////////////////////// */
.todo_main_block{
    flex-direction: column-reverse;
    justify-content: center;
}
.todo_first_block{
    width: 100%;
    text-align: center;
}
.todo_first_block h2{
    margin-top: 30px;
    font-size: 32px;
}
.todo_first_block p{
    margin: 0 auto;
    margin-top: 26px;
    padding-right: 0;
    margin-bottom: 41px;
    font-size: 14px;
    text-align: center;
}
.todo_second_block{
    width: 100%;
    min-width: none;
}
.todo_second_block img{
    height: 100%;
    width: 100%;
}
/* ////////////////////// */
.portfolio_main_block{
    margin-top: 41px;
    margin-bottom: 56px;
}
.portfolio_first_block h2{
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
}
.portfolio_second_block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio_card_block {
    margin-bottom: 70px;
    text-align: center;
}
.portfolio_card_block img{
    margin-bottom: 14px;
}
/* ////////////////////////// */
.labs{
    background: #DCF0FA;
}
.labs_main_block{
    display: flex;
    flex-direction: column;
}
.labs_first_block{
    max-width: 562px;
    margin: 0 auto;
    margin-top: 47px;
    margin-bottom: 32px;
    flex-direction: column;
    justify-content: center;
}
.labs_img{
    margin-bottom: 20px;
}
.labs_img img{
    width: 100%;
}
.labs_second_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 67px;
}
.labs_second_block p{
    max-width: 1500px;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 58px;
    text-align: center;
}
.labs_second_block a{
    margin: 0 auto;
    margin-top: 19px;
    font-weight: 700;
    font-size: 22px;
    line-height: 39px;
    color: #000000;
    text-align: center;
    padding: 9px 42px;
    border-radius: 10px;
    border: 2px solid #000;
    text-decoration: none;
}
/* //////////////////////// */
.map_main_block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.map_first_block{
    width: 100%;
}
.map_first_block{
    margin-top: 24px;
    margin-bottom: 39px;
    text-align: center;
}
.map_first_block h2{
    margin-bottom: 32px;
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.map_first_block p{
    text-align: center;
    font-size: 22px;
}
.map_second_block{
    width: 100%;
    min-width: 300px;
}
.map_second_block img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* ///////////// */
.footer{
    background: #000;
    text-align: left;
}
.footer p{
    padding: 43px 0;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
}
/* //////////////////// */
.auto_width{
    margin: 0 auto;
    padding: 0 10px;
}
/* ////////////// */
}









